#header {
  width: 100vw;
  height: 15vh;
  background-color: #00bfa5;
}

#headerText {
  color: white;
  font-size: 28px;
  margin: 4vh 0 5vh 5vw;
  position: fixed;
  display: inline-block;
}

#headerIcon {
  color: white;
  font-size: 28px;
  margin: 4vh 0 5vh 5vw;
  display: inline-block;
}

.addMember {
  width: 45vh;
  height: 9.5vh;
  margin-left: 1vw;
  margin-top: 6vh;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  font-size: 3vh;
  color: #e0e0e0;
  padding-top: 3.5vh;
  vertical-align: top;
}


/*.addMember:hover {
    border: 2px solid #00bfa5;
}*/

#closeButton {
  float: right;
  margin-left: 85vw;
  margin-top: 1vh;
  height: 30px;
  width: 40px;
  position: fixed;
}

.borderLeft {
  border-left: 3px dashed #eeeeee;
  margin-left: 1vw;
  height: 90vh;
  display: inline-block;
  width: 0;
  margin-top: 6vh;
}

.cancelButton {
  width: 6vw;
  margin-right: 2vw;
  border-radius: 20px;
  border: 0.2vh solid #bdbdbd;
  color: #bdbdbd;
  text-align: center;
  font-size: 2.5vh;
  height: 4vh;
  padding-top: 1vh;
}

.createButton {
  width: 6vw;
  margin-right: 2vw;
  border-radius: 20px;
  border: 1px solid #00bfa5;
  color: #ffffff;
  background-color: #00bfa5;
  font-size: 2.5vh;
  text-align: center;
  height: 4vh;
  padding-top: 1vh;
}