.display-card {
  width: 45vh;
  height: 13vh;
  margin-left: 1vw;
  margin-top: 6vh;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.create-task {
  width: 45vh;
  height: 13vh;
  margin-left: 1vw;
  margin-top: 6vh;
  text-align: center;
  color: #e0e0e0;
  background-color: #f5f5f5;
}

#title {
  font-size: 3vh;
  padding-top: 3.5vh;
  color: #616161;
}

.cancelButton {
  width: 6vw;
  margin-right: 2vw;
  border-radius: 20px;
  border: 0.2vh solid #bdbdbd;
  color: #bdbdbd;
  text-align: center;
  font-size: 2.5vh;
  height: 4vh;
  padding-top: 1vh;
}

.createButton {
  width: 6vw;
  margin-right: 2vw;
  border-radius: 20px;
  border: 1px solid #00bfa5;
  color: #ffffff;
  background-color: #00bfa5;
  font-size: 2.5vh;
  text-align: center;
  height: 4vh;
  padding-top: 1vh;
}

#dropTarget {
  border-left: 3px dashed #eeeeee;
  margin-left: 1vw;
  height: 90vh;
}